.radio-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

/* Customize the label (the container) */
.radio-box {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Top, Right, Bottom, Left */
    padding: 64px 8px 8px 8px;
    border: 1px solid var(--karl);
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: 10px !important;
    letter-spacing: 1.05px;
    word-wrap: break-word;
    text-transform: uppercase;
    text-align: center;
    
    display: block;
    max-width: 100px;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    margin-right: 8px;
}
  
/* Hide the browser's default radio button */
.radio-box input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0px !important;
    border-radius: 3.01px;
}

input[type="radio"]:checked ~ .radio-box {
    border: 3px solid var(--pacific-bridge);
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8px !important;
    right: 8px !important;
    height: 16px;
    width: 16px;
    border: 1px solid var(--karl);
    background-color: var(--grams-hair);
    border-radius: 50%;
}

.radio-box:hover {
    border: 2px solid var(--karl);
}

.radio-box input[type="radio"]:checked ~ .radio-box {
    background-color: var(--pacific-bridge);
}

/* On mouse-over, add a grey background color */
.radio-box:hover input[type="radio"] ~ .checkmark {
    background-color: var(--karl);
}
  
/* When the radio button is checked, add a blue background */
.radio-box input[type="radio"]:checked ~ .checkmark {
    background-color: var(--pacific-bridge);
    border: 1px solid var(--pacific-bridge);
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    color: white;
    content: url("images/icons/icon-check.svg");
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 0px !important;
    right: 0px !important;
    margin: 0px !important;
}

.radio-box .aui-icon {
    position: absolute;
    height: 96px;
    width: 96px;
    top: -1px;
    left: -1px;
    border-radius: 3.01px;
}

.radio-box .aui-icon::before {
    padding-left: calc(50% - 16px);
}

/* When the radio button is checked, add a blue background */
.radio-box input[type="radio"]:checked ~ .aui-icon {
    border: 2px solid var(--pacific-bridge);
}

.radio-box input[type="radio"]:checked ~ .aui-icon::before {
    color: var(--pacific-bridge);
}